@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
}

button, .modal-close {
    cursor: pointer;
}

main {
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: white;
}

main > header {
    min-height: 70px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header__titulo {
    font-weight: 700;
    font-size: 20px;
}

header .botao {
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(57, 57, 226);
}

table {
    width: 100%;
    border-spacing: 10px;
}

table thead {
    background-color: whitesmoke;
} 

thead tr th {
    padding: 5px;
}

tbody tr td {
    padding: 6px;
    width: 50px;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
}

.modal-content .modal-header {
    color: rgb(57, 57, 226);
    margin-bottom: 20px;
}

form label {
    font-size: 14px;
    width: 100%;
}

form input {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}

form button {
    padding: 5px 10px;
    border-radius: 20px;
    width: 40%;
    transition: .5s;
}

form button:first-child {
    background: rgb(57, 57, 226);
    color: white;
    border: none;
}

form button:first-child:hover {
    background: white;
    color: rgb(57, 57, 226);
    border: 1px solid;
}

form button:last-child:hover {
    color: rgb(57, 57, 226);
}

form button:last-child {
    background: white;
    border: 1px solid;
}

form footer {
    display: flex;
    justify-content: space-evenly;
}